{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
    <h2>Contact Us</h2>
    <p>
    ICT Academy of Kerala, Module No.L-9, <br>
    Thejaswini Building, Technopark,Trivandrum <br>
    Telephone: +91 471 2700 811 <br>
    Fax: +91 471 2700 812 <br>
    Email: info@ictkerala.org <br>
   </p>
</body>
</html>
{%endblock%}