{%extends "layout.html"%}


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to ICT Academy of Kerala Home Page</h1>
    <p>
        ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.
    </p>
    <h2>Vision</h2>
    <p>
        To emerge as the single-point establishment for all the ICT related capability building in the State
    </p>

</body>
</html>
{%endblock%}